mixin newsGenerate(data)
    article.news
        a.news__title(href=data.link)= data.title
            svg(width='22.000000' height='15.000000' viewbox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                path(id='Vector 448' d='M11.35 4.28L11.35 0L22 7.5L11.35 15L11.35 10.71L0 10.71L0 4.28L11.35 4.28Z' fill='currentColor' fill-opacity='1.000000' fill-rule='evenodd')
        .news__body
            if data.img !== ''
                .news__image 
                    img(src=data.img alt="news-1")
            .news__content
                if data.descr !== ''
                    h4.news__descr= data.descr
                if data.tikers !== ''
                    ul.news__list
                        each tiker in data.tikers
                            li.news__item
                                span.news__item-tiker.tiker= tiker