.tiker {
  display: inline-block;
  padding: 8px 12px;
  @include fluid-text(12, 10);
  font-weight: 700;
  line-height: 1.4;
  border-radius: 38px;
  @include mobile {
    padding: 6px 12px;
    border-radius: 19px;
  }
}
