.user {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 3px;
  border-radius: 38px;
  background-color: #efefef;
  max-height: 38px;
  span {
    margin-left: 13px;
  }
  img {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    overflow: hidden;
  }
}
